<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
         connectionString="data source=.;Init Catalog=TicketData;User Id=sa;Password=gujian;"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
